img {
    height: 200px;
}

section {
    text-align: center;
}

p {
    text-align: left;
}

main {
    text-align: center;
    margin-right: 20px;
}

@media (width < 600px) {
    main {
        margin: 20px;
        font-size: 14px;
    }

    img {
        height: auto;
        width: 80%;
    }
}