.verde {
    color: #49bd3a;
    font-weight: bold;
}

img {
    width: 500px;
    height: 400px;
    float: left;
    padding: 20px;
}

@media (width < 600px) {
    img {
        width: 90%;
        height: auto;
        float: none;
        padding: 20px;
    }

    main {
        margin: 20px;
    }
}